h2{
    color: red;
}

.arrow{
    animation: translateAnimation 1s linear infinite;
}

.arrow-container{
    width: 60px;
    height: 150px;
    overflow-y: hidden;
}

@keyframes translateAnimation {
  0% {
    transform: translateY(-200px); // Startposition: nicht verschoben
  }
  20% {
    transform: translateY(0px); // Endposition: 100px nach rechts verschoben
  }
  40% {
    transform: translateY(-50px); // Endposition: 100px nach rechts verschoben
  }
  100% {
    transform: translateY(150px); // Endposition: 100px nach rechts verschoben
  }
}